<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coterodev.spaincosplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventosActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AcercaDe"
            android:label="Acerca de.." />
        <activity
            android:name=".PruebaNavegadorEventos"
            android:label="Eventos" />
        <activity
            android:name=".RegistrarActivity"
            android:label="Registrar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaEventosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".InformacionEventoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
